state/dotfiles/files/home/.lesshst
state/dotfiles/files/home/.xsession-errors
state/dotfiles/files/home/.recently-used
state/dotfiles/files/home/.Xauthority
state/dotfiles/files/home/.dmenu_cache
state/dotfiles/files/home/.bash_history
state/dotfiles/files/home/.xsel.log
state/dotfiles/files/home/.fehbg
install_salt.sh
